/* Work Sans from google fonts */
*{
    margin: 0;
    padding: 0;
}
/* common style */
body{
font-family: 'Work Sans', sans-serif;
}
.item{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;

}
.text-title{
    font-size: 45px;
    font-weight: 700;
    
}
.fa-brands{
    font-size: 30px;
}
/*nav style*/
.nav-container{
    width: 1900px;
    min-height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-container{
    display: flex;
    gap: 20px;
   
}
.menu-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    
}
.menu-container a{
    text-decoration: none;
}
.menu-social-container{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 200px;
    height: 55px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10) ;
    padding: 0 24px;
    font-size: 18px;
    
}
.text-title-special-color{
    font-size: 45px;
   font-weight: 700;
   color: deeppink;
   
   
       
}

/* Goat section starts  */
.section-one-main-container {
    width: 100%;
    min-height: 700px;
    background-image: url('/images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: bottom left;

}

.div-banner {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.div-goat {
    width: 50%;
    text-align: left;
    
}

.play-like-info {
    color: #0B0223;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.goat-info {

    font-size: 5.937rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.icon {
    color: #534C64;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-top: 10px;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.icon-text {
    color: #534C64;
}

.button-first {
    padding: 1.31rem 2.5rem;
    border-radius: 3rem;
    background: #FF42A5;
    text-transform: uppercase;
    color: #FFF;
}

.button-second {
    padding: 1.31rem 2.5rem;
    border-radius: 3rem;
    background: #4EC5F7;
    text-transform: uppercase;
    color: #FFF;
}

.div-images {
    width: 50%;
}

.image {
    width: 100%;
    height: 100%;
}

/* Goat section end  */


/* We are Gamers section */
.div-gamer-image{
    width: 100%;
    height: 70vh;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
}

.button-third {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 30px;
}
.div-gamer{
    width: 90%;
    margin: 0 auto;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.gamer-text-container{
    width: 100%;
    text-align: right;
    display: block;
    margin-right: 30px;
}
.gamer-text-container h1{
    padding: 30px;
    font-size:3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
.gamer-text-container p{
    padding: 30px;
    color: #534C64;
    text-align: right;
    font-size: 1.12rem;
    font-weight: 400;
    margin: 20px 0px 20px 0px;
}
.unleash-gamer{
    color: #534C64;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 45px;
}

/* Online game section start */
.online-game{
text-align: center;
margin-top: 70px;
}
.online-game h1{
    color: #0B0223;
font-family: Work Sans;
font-size: 3rem;
font-weight: 700;
}
.title-special-color-two{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 3rem;
font-weight: 700;
}
.title-special-color-two p{
    color: #534C64;
font-family: Work Sans;
font-size: 18px;;
font-weight: 400;
line-height: 30px;
}
.game{
    width: 342px;
    height: 400px;
}
.game img{
    width: 280px;
    height: 300px;
}
.game:hover{
    cursor: pointer;
}
.games{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 48px 180px 48px 180px;
    gap: 20px;
}
/* Online game section end */

/* PLAY GAMES */
.play-games-instantly {
    margin-bottom: 100px;
    padding: 0 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    width: 70vw;
    margin-left: 30vh;
}

.div-game-content {
    width: 50%;
    max-width: 400px;
    margin: 0 auto;

}
.text-size{
color: #534C64;
text-align: left;
font-size: 1.1rem;
font-style: normal;
font-weight: 400;
margin-top: 20px;

}
.div-play-games-img {
    width: 50%;
}
#text-info{
    font-size: 3rem;
    font-weight: 700;
}
#text-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    line-height: 60px;
    font-size: 3rem;
    font-style: normal;

}

.div-play-games-img img {
    width: calc( 100% - 100px);
    margin-left: 100px;
}

.div-play-games-img .badge {
    position: relative;
    width: 300px;
    bottom: 100px;
    left: -100px;
}

.badge img {
    width: 100%;
    height: 350px;
}

/* GAME CATEGORIES */
.game-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fff9fc;
    padding: 100px 50px;cursor: pointer;

}

.category-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    background-color: #FFF;
    border-radius: 50px;
    border: 1px solid #FFF;
}

.hover-active {
    border: 1px solid #FF42A5;
    color: #FF42A5;
}

.category-item:hover .category-name {
    color: #FF42A5;
}

/* .game-category:hover {
    border: 1px solid #FF42A5;
} */

.game-category-name {
    font-size: 1.125rem;
    font-weight: 600;
}

/* =================== FOOTER STYLES =================== */


.footer-container {
    background-color: #0B0223;
    padding: 100px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-links,
.footer-security {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
    flex-wrap: wrap;
    color: #fff;
}

.footer-links li,
.footer-security li {
    list-style: none;
}

.footer-links li a  {
    text-decoration: none;
    font-size: 1.125rem;
    color: #fff;
}
.footer-security li a{
    text-decoration: none;
    font-size: 1.125rem;
}

.social-media-links i {
    font-size: 2.5rem;
    color: #fff;
    margin: 20px;
}
#logo-footer{
    color: #fff;
}

.footer-links li:hover a,
.social-media-links i:hover {
    color: #d441b9;
}
.footer-container small{
    color: #fff;
}