/* Work Sans from google fonts */
* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
  }
  /*navigation style*/
  
.item{
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;

}
.text-title{
    font-size: 45px;
    font-weight: 700;
    
}

.nav-container{
    min-height: 130px;
    max-width: 1240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: relative;
    padding:0 50px;
    margin-bottom: 20px;
}
.logo-container{
    display: flex;
    gap: 20px;
   
}

.menu-container{
    display: flex;
    gap: 40px;
    min-height: 3.125rem;
    align-items: center;
    justify-content: center;

    
}
.menu-container a {
    text-decoration: none;

}
.menu-social-container{
    display: flex;
    gap: 20px;
    padding: 0 24px;
    width: 200px;
    height: 55px;
    border-radius: .5rem;
    align-items: center;
    background: rgba(11, 2, 35, 0.10) ;
    font-size: 1.125rem;
    
}
.text-title-special-color{
    font-size: 45px;
   font-weight: 700;
   color: deeppink;
}

/* Goat section start  */
.section-one-main-container {
    background-image: url('/images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    min-height: 700px;
    width: 100%;

}

.div-banner {
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

.div-goat {
    width: 50%;
    text-align: left;
    
}

.play-like-info {
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #0B0223;
}

.goat-info {

    font-size: 5.937rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.icon {
    color: #534C64;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-top: 10px;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}
.icon-text {
    color: #534C64;
}

.button-first {
    background: #FF42A5;
    padding: 1.31rem 2.5rem;
    border-radius: 3rem;
    text-transform: uppercase;
    color: #FFF;
}

.button-second {
    background: #4EC5F7;
    padding: 1.35rem 2.5rem;
    border-radius: 3rem;
    text-transform: uppercase;
    color: #FFF;
}
.image {
    width: 100%;
    height: 100%;
}

.div-images {
    width: 50%;
}


/* We are Gamers section */
.div-gamer-image{
    width: 100%;
    height: 61vh;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-left: 30px;
}

.button-third {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: #FFF;
    padding: 21px 40px;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 30px;
}
.div-gamer{
    margin: 0 auto;
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.gamer-text-container{
    width: 100%;
    margin-right: 30px;    
    text-align: right;
    display: block;
}

.gamer-text-container h1{
    padding: 30px;
    font-weight: 700;
    font-size:3rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
.gamer-text-container p{
    padding: 0 30px;
    color: #534C64;
    text-align: right;
    font-size: 1.12rem;
    font-weight: 400;
    margin: 20px 0px 20px 0px;
}
.unleash-gamer{
    color: #534C64;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 45px;
}

/* Online game section start */
  .online-container {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 50px;
  }
  .online-content {
    margin-top: 50px;
    text-align: center;
  }
  .online-content p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #534c64;
    left: 10px;
  }
  
  .online-text {
    font-size: 48px;
  }
  .online-text span {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .group-img {
    display: flex;
    gap: 15px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;

  }
  .card {
    position: relative;
    flex-basis: calc(25%) -1rem;
  }
  .card img {
    height: auto;
    max-width: 100%;

  }
  
  .hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  .hover img {
    display: block;
    margin: 0.9 rem auto;
  }
  .card:hover .card-img {
    -webkit-filter: brightness(30%);
    transition: 0.5s ease-in-out;

  }
  .card:hover .hover {
    display: block;
    color: #f948b2;
    font-weight: 500;
    transition: 0.4s ease-in-out;
  }
  .card-info {
    color: #534c64;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
  }
  
  /* Play Instantly section */
  .instantly {
    width: 80%;
    margin: 0 auto;
  }
  .instantly-container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 200px;
    justify-content: space-around;
  }
  .instantly-content {
    text-align: right;
  }
  .instantly-header {
    text-align: right;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
  }
  .color-head {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .instantly-des {
    color: #534c64;
    text-align: right;
    font-size: 18px;
    margin-top: 15px;
    font-weight: 400;
  }
  .instantly-img img {
    width: 100%;
    height: auto;
  }
  .overlay-img img {
    width: 50%;
    height: auto;
    position: relative;
    right: 150px;
    top: -120px;
  }


/* Play game instantly section start*/
.play-games-instantly {
    margin-bottom: 10px;
    padding: 0 50px;
    display: flex;
    width: 70vw;
    justify-content: right;
    align-items: center;
    height: 100vh;
    margin-left: 32vh;
}

.div-game-content {
    width: 50%;
    max-width: 400px;
    margin: 10px;

}

.div-play-games-img {
    width: 50%;
}
#text-info{
    font-size: 3rem;
    font-weight: 700;
}

#text-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    line-height: 60px;
    font-size: 3rem;
    font-style: normal;

}

.div-play-games-img img {
    width: calc( 100% - 100px);
    margin-left: 100px;
}

.div-play-games-img .below-photo {
    position: relative;
    width: 300px;
    bottom: 100px;
    left: -100px;
}

.below-photo img {
    height: 300px;
    width:90%;
}
.text-size{
    color: #534C64;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 20px;
    
    }


/*  Category of Game section start*/
.game-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px 50px;cursor: pointer;
    margin-top: 0;
    gap: 20px;
    background-color: #fff9fc;


}

.category-item {
    display: flex;
    align-items: center;
    border-radius: 50px;
    gap: 10px;
    padding: 5px 10px;
    background-color: #FFF;
    border: 1px solid #FFF;
}

.category-name {
    font-size: 1.125rem;
    font-weight: 600;
}

.hover-active {
    border: 1px solid #ff4aa8;
    color:#ff4aa8;
}

.category-item:hover .category-name {
    color:#ff4aa8;
}


/* Footer section start */


.footer-container {
    display: flex;
    flex-direction: column;
    background-color: #0B0223;
    padding: 100px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-links,
.footer-security {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px 0;
    color: #fff;
}

.footer-links li,
.footer-security li {
    list-style: none;
}

.footer-links li a  {
    text-decoration: none;
    font-size: 1.125rem;
    color: #fff;
}
.footer-security li a{
    text-decoration: none;
    font-size: 1.125rem;
}

.social-media-links i {
    font-size: 2.5rem;
    color: #fff;
    margin: 20px;
}
#logo-footer{
    color: #fff;
}

.footer-links li:hover a,
.social-media-links i:hover {
    color: #d640ba;
}
.footer-container small{
    color: #fff;
}



/* responsive section */
/* mobile */

@media screen and (max-width:576px) {

    *{
        box-sizing: border-box;
    }
    .nav-container{
        flex-direction: column;
        box-shadow: none;
        margin-top: 170px;
    }

    .menu-container{
        margin-top: 60px;
        flex-direction: column;
    }

    .menu-container .menu-social-container{
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .div-banner{
        margin-top: 300px;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px;
        
    }

    .div-goat{
       height: auto;
       width: 100%;
       margin-bottom: 20px;
    }

    .div-images{
        width: 300px;
        height: 300px;
        margin-bottom: 40px;
    }

    .div-gamer{
        flex-direction: column;
        background: none;
        margin: auto;
        margin-top: 222px;
        padding: 40px;
    }

    .div-gamer-image img{
        height: 260px;
        width: 300px;
        margin-bottom: 20px;
    }

    .gamer-text-container{
        text-align: center;
        margin-top: 20px;
    }

    .div-gamer p{
        font-size: 10px;

    }

    .online-container{
        height: auto;
        padding: 40px;
    }

    .online-content{
        margin-top: 40px;
    }
    .online-paragraph{
        font-size: 12px;
    
    }


    .online-text{
        margin-top: 145px;
        font-size: 30px;
    }

    .group-img {
        flex-direction: column;
        gap: 50px;
    }
    
    .div-game-content{
        flex-direction: column;
        height: auto;
        padding-bottom: 100px;
    }

    .online-content{
        margin-bottom: 30px;
        width: 80%;
        text-align: center;
    }
    .group-img{
        display: flex;
        flex-direction: column;
    }


    .div-play-games-img {
        height: auto;
        width: 100%;
        margin-left: 50px;

    }

    .below-photo{
        margin: 0 auto;
        top: 0;
        left: 0;
        width: 80%;
        height: 50px;
    }
    .div-game-content p{
        padding-top: 12px;
        font-size: 16px;
        line-height: 24px;
    }
    .div-game-content h3{
        font-size: 25px;
        line-height: 48px;
    }

   
    .category-name{
        font-size: 15px;
    }

    .game-category{
        height: auto;
        display: grid;
        padding: 10px 80px;
        grid-template-columns: repeat(3,1fr);
    
    }

    .category-item img{
        width: 90%;
        height: 60px;
        
    }

    .footer-container{
        height: auto;
        padding-bottom: 50px;
    }

    .footer-container.logo-container{
        margin-top: 50px;
    }

    .footer-container.footer-links{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }

    .footer-container.social-media-links{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
        width: 60%;
    }

    .footer-container.footer-security{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
        gap: 30px;
    }
}


/* tablet */

@media screen and (min-width:576px) and (max-width:992px) {

    *{
        box-sizing: border-box;
    }
    .nav-container{
        flex-direction: column;
        box-shadow: none;
        margin-top: 160px;
    }


    .menu-container{
        flex-direction: column;
        margin-top: 62px;
    }

    .menu-container .menu-social-container{
        margin-top: 62px;
        margin-bottom: 62px;
    }

    .div-banner{
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px;
        margin-top: 300px;
        width: 100%;
        
    }

    .div-goat{
       width: 100%;
       height: auto;
       margin-bottom: 20px;
    }

    .div-images{
        width: 300px;
        height: 300px;
        margin-bottom: 40px;
    }

    .div-gamer{
        margin: auto;
        flex-direction: column;
        background: none;
        margin-top: 222px;
        padding: 40px;
    }

    .div-gamer-image img{
        width: 300px;
        height: 270px;
        margin-bottom: 20px;
    }

    .gamer-text-container{
        text-align: center;
        margin-top: 20px;
    }

    .div-gamer p{
        font-size: 12px;
    }

    .online-container{
        height: auto;
        padding: 35px;
    }

    .online-content{
        margin-top: 35px;
    }

    .online-paragraph{
        font-size: 12px;
    }

    .group-img{
        flex-direction: column;
        gap: 50px;  
        width: 100%;
        height: auto;
        margin: 0;


    }
    
    .online-text{
        margin-top: 160px;
        font-size: 35px;
    }

    
    .div-game-content{
        flex-direction: column;
        height: auto;
        padding-bottom: 100px;
    }

    .online-content{
        width: 80%;
        text-align: center;
        margin-bottom: 30px;
    }

    .below-photo {
        height: auto;
        margin: 0 auto;
        width: 80%;
        top: 0;
        left: 0;
    }

    .div-game-content h{
        font-size: 36px;
        line-height: 48px;
    }

    .div-game-content p{
        padding-top: 12px;
        font-size: 16px;
        line-height: 24px;
        
    }

    .category-name{
        height: auto;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .game-category{
        width: 100%;
        height: 60px;
    }
    
    .category-item img{
        width: 90%;
        height: 60px;
        
    }


    .footer-container{
        height: auto;
        padding-bottom: 50px;
    }

    .footer-container  .logo-container{
        margin-top: 50px;
    }

    .footer-container .footer-links{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-top: 25px;
    }

    .footer-container .social-media-links{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 35px;
        gap: 20px;
    }

    .footer-container .footer-security{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
        gap: 20px;
    }
}



